body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

main {
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
main .code-snippet {
  flex: 0 0 35%;
}
main .main-box {
  flex: 1 0;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  height: 300px;
  border: 1px dashed black;
}
.container .blob {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #9AE66E 0%, #FEE440 100%);
}
.container .blob .hor-top-left {
  position: absolute;
  top: -30px;
  width: 100%;
  margin: 0;
}
.container .blob .hor-top-left input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .hor-top-left input[type=range]::-webkit-slider-runnable-track {
  background: #f7aab3;
  height: 6px;
  border-radius: 8px;
}
.container .blob .hor-top-left input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #eb1d36;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .hor-top-right {
  position: absolute;
  top: -50px;
  width: 100%;
  margin: 0;
}
.container .blob .hor-top-right .topright {
  direction: rtl;
}
.container .blob .hor-top-right input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .hor-top-right input[type=range]::-webkit-slider-runnable-track {
  background: #41bf72;
  height: 6px;
  border-radius: 8px;
}
.container .blob .hor-top-right input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #1a4d2e;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .hor-bottom-right {
  position: absolute;
  bottom: -30px;
  width: 100%;
  margin: 0;
}
.container .blob .hor-bottom-right .botright {
  direction: rtl;
}
.container .blob .hor-bottom-right input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .hor-bottom-right input[type=range]::-webkit-slider-runnable-track {
  background: #19e0ff;
  height: 6px;
  border-radius: 8px;
}
.container .blob .hor-bottom-right input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #006e7f;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .hor-bottom-left {
  position: absolute;
  bottom: -50px;
  width: 100%;
  margin: 0;
}
.container .blob .hor-bottom-left input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .hor-bottom-left input[type=range]::-webkit-slider-runnable-track {
  background: #fcb492;
  height: 6px;
  border-radius: 8px;
}
.container .blob .hor-bottom-left input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #ee5007;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .ver-top-left {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 100%;
  margin: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}
.container .blob .ver-top-left input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .ver-top-left input[type=range]::-webkit-slider-runnable-track {
  background: #f7aab3;
  height: 6px;
  border-radius: 8px;
}
.container .blob .ver-top-left input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #eb1d36;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .ver-top-right {
  position: absolute;
  top: 50%;
  right: -40px;
  width: 100%;
  margin: 0;
  transform: translate(50%, -50%) rotate(90deg);
}
.container .blob .ver-top-right input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .ver-top-right input[type=range]::-webkit-slider-runnable-track {
  background: #41bf72;
  height: 6px;
  border-radius: 8px;
}
.container .blob .ver-top-right input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #1a4d2e;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .ver-bottom-left {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 100%;
  margin: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}
.container .blob .ver-bottom-left .botleft {
  direction: rtl;
}
.container .blob .ver-bottom-left input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .ver-bottom-left input[type=range]::-webkit-slider-runnable-track {
  background: #fcb492;
  height: 6px;
  border-radius: 8px;
}
.container .blob .ver-bottom-left input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #ee5007;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.container .blob .ver-bottom-right {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 100%;
  margin: 0;
  transform: translate(50%, -50%) rotate(90deg);
}
.container .blob .ver-bottom-right .botright {
  direction: rtl;
}
.container .blob .ver-bottom-right input[type=range] {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.container .blob .ver-bottom-right input[type=range]::-webkit-slider-runnable-track {
  background: #19e0ff;
  height: 6px;
  border-radius: 8px;
}
.container .blob .ver-bottom-right input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: #006e7f;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}/*# sourceMappingURL=styles.css.map */