$primary-color: #2c272e;
$secondary-color: #e59934;
$color1: #eb1d36;
$color2: #1a4d2e;
$color3: #006e7f;
$color4: #ee5007;

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

@mixin slider($color: red, $light: 30%) {
  input[type='range'] {
    margin: 0;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      background: lighten($color, $light);
      height: 6px;
      border-radius: 8px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -3px;
      background-color: $color;
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }
}

main {
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;

  .code-snippet {
    flex: 0 0 35%;
  }

  .main-box {
    flex: 1 0;
    display: grid;
    place-items: center;
  }
}

.container {
  width: 300px;
  height: 300px;
  border: 1px dashed black;

  .blob {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      100deg,
      #9AE66E 0%,
      #FEE440 100%
    );

    .hor-top-left {
      position: absolute;
      top: -30px;
      width: 100%;
      margin: 0;
      @include slider($color1);
    }

    .hor-top-right {
      position: absolute;
      top: -50px;
      width: 100%;
      margin: 0;

      .topright {
        direction: rtl;
      }
      @include slider($color2);
    }

    .hor-bottom-right {
      position: absolute;
      bottom: -30px;
      width: 100%;
      margin: 0;

      .botright {
        direction: rtl;
      }
      @include slider($color3);
    }

    .hor-bottom-left {
      position: absolute;
      bottom: -50px;
      width: 100%;
      margin: 0;

      @include slider($color4);
    }

    .ver-top-left {
      position: absolute;
      top: 50%;
      left: -20px;
      width: 100%;
      margin: 0;
      transform: translate(-50%, -50%) rotate(90deg);
      @include slider($color1);
    }

    .ver-top-right {
      position: absolute;
      top: 50%;
      right: -40px;
      width: 100%;
      margin: 0;
      transform: translate(50%, -50%) rotate(90deg);

      @include slider($color2);
    }

    .ver-bottom-left {
      position: absolute;
      top: 50%;
      left: -40px;
      width: 100%;
      margin: 0;
      transform: translate(-50%, -50%) rotate(90deg);

      .botleft {
        direction: rtl;
      }
      @include slider($color4);
    }

    .ver-bottom-right {
      position: absolute;
      top: 50%;
      right: -20px;
      width: 100%;
      margin: 0;
      transform: translate(50%, -50%) rotate(90deg);

      .botright {
        direction: rtl;
      }
      @include slider($color3);
    }
  }
}
